<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.board.model.mapper.BoardMapper">

	<select id="selectTotalCount" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		  	   BOARD
		 WHERE
		       STATUS = 'Y'
	</select>
	
	<sql id="boardColumn">
		SELECT
			   BOARD_NO boardNo
			 , BOARD_TITLE boardTitle
			 , BOARD_WRITER boardWriter
			 , COUNT
			 , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as createDate
			 , CHANGE_NAME changeName
	</sql>
	
	<select id="findAll" resultType="com.kh.spring.board.model.dto.BoardDTO">
		<include refid="boardColumn"/>
	     FROM
	     	   BOARD
	    WHERE
	    	   STATUS = 'Y'
	    ORDER
	       BY
	           BOARD_NO DESC 
	</select>
	
	<insert id="save" parameterType="com.kh.spring.board.model.dto.BoardDTO">
		INSERT
		  INTO
		       BOARD
		VALUES
		  	   (
		  	   SEQ_BNO.NEXTVAL
		  	 , #{boardTitle}
		  	 , #{boardWriter}
		  	 , #{boardContent}
		  	 , #{originName}
		  	 , #{changeName}
		  	 , 0
		  	 , DEFAULT
		  	 , DEFAULT
		  	   )
	</insert>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
		  	   BOARD
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   BOARD_NO = #{boardNo}
		   AND
		   	   STATUS = 'Y'
	</update>
	
	<select id="findByBoardNo" parameterType="long" resultType="com.kh.spring.board.model.dto.BoardDTO">
		<include refid="boardColumn" />
			, BOARD_CONTENT boardContent
			, ORIGIN_NAME	originName
	  	 FROM
	  		  BOARD
	    WHERE
	  	      BOARD_NO = #{boardNo}
	  	  AND
	  	  	  STATUS = 'Y'
	</select>

</mapper>
  
  