<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="login" resultType="com.kh.spring.member.model.dto.MemberDTO">
		SELECT
				USER_ID userId
		      , USER_PWD userPwd
		      , USER_NAME userName
		      , EMAIL
		      , ENROLL_DATE enrollDate
		  FROM
		        MEMBER
		 WHERE
		        USER_ID = #{userId}
		   AND
		        USER_PWD = #{userPwd}
	</select>



</mapper>
  
  